#mainheading
{
	text-align: center;
	font-size: 55px;
	font-family: "brush script MT", fantasy;
}


body
{
	margin: 50px;
	padding:0;
	font-family: courier;

}

.container
{
	width: 1200px;
	margin: 50px auto 0;
	display: table;
	box-sizing: border-box;
}

.row
{
	margin:100px 0;
	border-right: 20px solid white;
}


.column1
{
	background: hotpink;
	display: table-cell;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 0;
	text-align: justify;
	border-right: 20px solid white;


}

.column2
{
	background: springgreen;
	display: table-cell;
	padding: 20px;
	padding-top: 0;
	text-align: justify;
	border-right: 20px solid white;
}

.column3
{
	background: turquoise;
	display: table-cell;
	padding: 20px;
	padding-top: 0;
	text-align: justify;
	border-right: 20px solid white;
}



.head1
{ 
	text-align: center;
	border: 10px solid black;
	border-top-width: 20px;
	margin-left: 70%;
	width: 30%;
	background-color: palevioletred;
	color: firebrick;
}


.head2
{
	text-align: center;
	border: 10px solid black;
	border-top-width: 20px;
	margin-left: 70%;
	width: 30%;
	background-color: limegreen;
	color: darkgreen;
}

.head3
{
	text-align: center;
	border: 10px solid black;
	border-top-width: 20px;
	margin-left: 70%;
	width: 30%;
	background-color: darkcyan;
	color:navy;
}


























@media only screen and (max-width: 992px)
{   /*desktop view*/
	.container
	{
		margin: 0;
		padding: 20px;
		width: 100%;
	}

}

@media only screen and (min-width: 768px) and (max-width: 991px)
{
	/*for tablet view*/
	.container
	{
		margin:10px;
		padding: 20px;
		width: auto;

	}

	.column3
   {
   	
   	width: auto;
   	margin: 20px 0px;
	display: block
	
   }

    .row
    {
     width: auto;
     margin: 0px;
    }

}



@media only screen and (max-width: 767px)
{
	
	/*for mobile view*/
.container
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

}

.column1
{
	width:100%;
	height: 200px;
	display: block;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	

}

.column2
{
	width:100%;
	height: 200px;
	display: block;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;

}

.column3
{
	width:100%;
	height: 200px;
	display: block;
	justify-content: center;
	align-items: center;
}

}
